
*.obj

*.recipe

*.pdb

*.idb

*.txt

*.tlog

MordusRecordsVS/MordusRecordsVS.sln

*.vcxproj

*.filters

MordusRecordsVS/MordusRecordsVS.vcxproj.user

MordusRecordsVS/x64/Debug/MordusRecordsVS.exe

MordusRecordsVS/x64/Debug/MordusRecordsVS.ilk

MordusRecordsVS/x64/Debug/MordusRecordsVS.log
